<!doctype html>
<html lang="en">
  <!-- IDEA: limit to last 7 days of news (at least, for default) -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
>
    <link rel="icon" type="image/png" href="/favicon.png">
    <title>doikayt_news</title>
  </head>
  <body>
    <main class="container">
      <div>
        <form>
          <input id="searchbar" type="search" />
        </form>
        THE_NEWS_GOES_HERE
      </div>
    </main>
    <style>
      .news-item {
        width: 100%;
        padding-top: 10px;
        border-radius: 5px;
        border-style: solid;
      }
    </style>
  </body>
</html>